.placeholder:hover {
    border: 2px solid rgb(0, 0, 175);
}

#log_in_button:hover {
    background-color: rgb(0, 0, 150);
    cursor: pointer;
}
#create_account_box:hover {
    background-color: rgb(0, 129, 0) ;
    cursor: pointer;
}

#anchor:hover {
    text-decoration: underline;
}