* {
    margin: 0;
    font-family: Arial;
}

body {
    background-color: #F2F4F7;
}

#login {
    height: 350px;
    width: 380px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 140px;
    right: 160px;
}

#placeholder_box {
    height:130px;
    width: 360px;
    position: relative;
    left: 13px;
}

.placeholder {
    height: 45px;
    width: 342px;
    margin-top: 11px;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0.5;
    font-size: 17px;
    font-style: revert-layer;
    padding-left: 10px;
}

#log_in_button {
    height: 52px;
    width: 356px;
    background-color: #0866ff;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 23px;
    color: white;
    margin: 5px 0px 0px 13px;
}

#password {
    height: 30px;
    width: 180px;
    background-color: white;
    font-family: Arial;
    position: relative;
    top: 16px;
    left: 100px;
}

#anchor {
    color: #0866ff;
    position: relative;
    top: 5px;
    left: 22px;
    text-decoration: none;
    font-size: 15px;
}

#line {
    margin: 30px 11px 0px 11px;
    border: 1px solid black;
    opacity: 0.2;
}

#create_account_box {
    height: 50px;
    width: 200px;
    margin: 20px 20px 0px 100px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(0, 180, 0);
    font-size: 17px;
    font-weight: 900;
}

#logo {
    color: #0866ff;
    font-size: 32px;
    font-family: Arial;
    display: inline-block;
    position: relative;
    top: 155px;
    left: 170px;
}

#comment {
    width: 472px;
    color: black;
    font-size: 27px;
    font-family: Arial;
    display: inline-block;
    position: absolute;
    top: 245px;
    left: 170px;
}

#b_c_1 {
    height: 40px;
    display: inline-block;
    position: absolute;
    font-size: 14px;
    top: 510px;
    right: 405px;
}

#b_c_2 {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    top: 510px;
    right: 195px;
}